# Bu liste, söz konusu dosyayı değiştiren bir PR açıldığında
# belirtilen organizasyon üyelerinden otomatik olarak review ister
# Bu liste Kullanıcı Adı -> Dosya Adı şeklinde alfabetik olarak
# sıralanmış ve Maintainers/Contributors için bölümlere ayrılmıştır
# Aynı dosya veya klasör üzerinde yapılan değişikliklerden haberdar edilecek
# birden fazla kişi olması durumunda bunları Multiple Owners kısmınına ekleyin

# MAINTAINERS

# Seefaaa

* @Seefaaa

# CONTRIBUTORS

# MULTIPLE OWNERS
